*{
    font-family: arial;
}
body{
    padding: 0;
    margin: 0;  
}
nav{
    top: 100%;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 6px solid aqua;
}
nav h1{
    font-size: 40px;
    color: aqua;
    margin-right: 320px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
  }
a{
    color: #ffffff;
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
nav .container{
    justify-content: space-between;
}
#prop{
    background-image: url('../imgs/bg-jelly-fish-para_outras_pags.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
#prop .container{
    justify-content: space-evenly;
}
#prop h1{
    text-align: left;
    color: white;
    margin: auto;
    margin-top: 100px;
    font-size: 60px;
    text-shadow: 30px;
    height: 320px;
    width: 400px;
}
#prop span{
    color: rgb(62, 62, 243);
}
#card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 9px 9px 9px 9px;
    background-color: rgb(250, 234, 204);;
    color: black;
}

#card img{
    width: 250px;
    height: 150px;
    object-fit:contain;
}

#cards{
    display: flex;
    justify-content: space-around;
}
#card2{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 9px 9px 9px 9px;
    background-color: rgb(250, 234, 204);
}

#card2 img{
    width: 250px;
    height: 150px;
    object-fit:contain;
}
#footerColor{
    margin-top: 30px;
    width: auto;
    height: 20vh;
    background-color: aqua;
}
#cards .container{
    justify-content: space-around;
}

#card h1{
    color: #d62e71;
}

#card2 h1{
    color: #d62e71;
}